{% extends "base.html" %}

{% block content %}

<form action="" method="post">
{% csrf_token %}

{% if form.email.errors %}
  {{ form.email.errors }}
{% endif %}

<div class="column is-7">
    <h2 class="title is-2">Password Reset</h2>
    <p class="is-size-5">Enter the email address attached to your account:</p> 
</div>

<div class="column is-5">
  <div class="fieldWrapper">
    <p>{{ form.email }}</p>
  </div>
</div>

<div class="column">
  <button type="submit" class="button is-black is-medium">Reset password</button>
</div>

</form>

{% endblock %}
