{% extends "base.html" %}

{% block content %}
    
    {% if validlink %}
        <div class="column is-7">
            <h2 class="title is-2">Password Reset</h2>
            <p class="is-size-5">Please enter (and confirm) your new password.</p>
        </div>
    
            <form action="" method="post">
                {% csrf_token %}
                
                
                    {% if form.errors %}
                    <div class="column is-8">
                        {% for field in form %} 
                            {% for error in field.errors %}
                                <div class="notification is-danger is-light">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="notification is-danger is-light">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}  
                    </div> 
                    {% endif %}
                

                <div class="column is-5">
                    <div class="fieldWrapper">
                    <p>{{ form.new_password1.label }}: {{ form.new_password1 }}</p>
                    </div>
                </div>
                <div class="column is-8">
                    <p>{{ form.new_password1.help_text|safe }}</p>
                </div>
                <div class="column is-5">
                    <div class="fieldWrapper">
                    <p>{{ form.new_password2.label }}: {{ form.new_password2 }}</p>
                    </div>
                </div>

                <div class="column">
                    <button type="submit" class="button is-black is-medium">
                        Change my password
                    </button>
                </div>
            </form>

    {% else %}
        <h2 class="title is-2">Password reset failed</h2>
        <p class="is-size-5">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    
{% endblock %}
