{% extends "base_generic.html" %}

{% block content %}
<div class="block" style="font-family:'Playfair Display', serif">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <h1 class="title is-2">Password Reset</h1>
      <p class="title is-6">Enter the email address attached to your account:</p> 
      <p class="subtitle">{{ form.email }}</p>
      <button type="submit" class="button is-black is-medium">Reset password</button>
  </form>
</div>
{% endblock %}
