{% extends "base_generic.html" %}

{% block content %}
    <h1>COOKERY BOOKERY</h1> 
    <br>

    <h2>Submit a Recipe</h2>

    <p><b>Name:</b> {{ recipe.name }}</p>
    <p><b>Servings:</b> {{ recipe.servings }}</p>
    <p><b>Nota bene:</b> {{ recipe.nota_bene }}</p>

    <form method="post">
        {% csrf_token %}

        <h3>Add Ingredients</h3>

        <ul>
        {% for ingredient in recipe.ingredient_set.all %}
            <li>{{ ingredient }}</li>
        {% endfor %} 
        </ul>
        
        {% for field in ingredient_form %}
            <div class="fieldWrapper">
                <b>{{ field.label_tag }}</b> {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Add Ingredient</button>
    </form>

    <br>
    <h4>All done adding ingredients?</h4>
    <form action='{% url "add-instruction" recipe.id %}' method="get"><button type="submit">Add Instructions</button></form>

{% endblock %}