{% extends "base_generic.html" %}

{% block content %}
<div class="block">
  <h1 class="title is-1 is-spaced">Submit a Recipe</h1>

  <div class="box has-background-black">
    <h1 class="title is-2 has-text-white">
      {{ recipe.name }}
      {% if recipe.author %}
      <h3 class="subtitle is-5 has-text-white">
        By {{ recipe.author }}
      </h3>
      {% endif %}
    </h1>
  </div>
  <h2 class="subtitle is-5">"<em>{{ recipe.description }}"</em></h2>


  <!-- <p class="is-size-4"><strong>Name: </strong>{{ recipe.name }}</p> -->
  
  <div class="block"></div>
  <p class="is-size-4"><strong>Servings:</strong> {{ recipe.servings }}</p>
  {% if recipe.nota_bene %}
    
      <p class="is-size-4"><strong>N.B.</strong></p> 
      <p class="is-size-5">{{ recipe.nota_bene }}</p>
   
  {% endif %}
</div>
  <div class="block">
    <!-- <p class="is-size-5"><strong><em>Need to change something?</em></strong></p> -->
    {% if update %}
      <!-- <p class="is-size-5" style="color: hsl(348, 86%, 65%);">
        <em>You need to finish editing this ingredient before you can edit your recipe!</em>
      </p> -->
    {% else %}
      <p class="is-size-5">
        <a class="button is-info is-light" href="{% url 'update-recipe' recipe.id %}?next={{ request.path|urlencode }}"> Edit Recipe</a>
      </p>
    {% endif %}
  </div>

  <h2 class="title is-2" style="padding-bottom: 1%;">
    Ingredients
  </h2>  
  <ul class="subtitle is-4">
    {% for ingredient in recipe.ingredient_set.all %}
      {% if pk != ingredient.id %}
          <li>{{ ingredient }} </li>
        
          <li style="padding: 1%;">
            {% if not update %} 
            <a class="button is-info is-light is-small" href="{% url 'update-ingredient' ingredient.id %}?next={{ request.path|urlencode }}"> 
                edit
            </a> 
            <a class="button is-danger is-light is-small" href="{% url 'delete-ingredient' ingredient.id %}?next={{ request.path|urlencode }}" class="text-danger"> 
              delete 
            </a>
            {% endif %}
          </li>
      {% endif %}
    {% endfor %} 
  </ul>

  <div style="padding: 1%;"></div>

  <div class="column is-8">
    <form action="" method="post">
      {% csrf_token %}
      
      <nav class="panel is-black">   
        {% if update %}
          <h4 class="panel-heading title is-4 has-text-white">Edit Ingredient</h4>
        {% else %}
          <h4 class="panel-heading title is-4 has-text-white">New Ingredient</h4>
        {% endif %} 

          <div class="panel-block">
            <table class="is-size-5">
              {{ form.as_table }}
            </table> 
          </div>

          <div class="panel-block">
            <div style="padding: 3%;">
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <input type="submit" class="button is-black is-medium" value="Add Ingredient">
            </div>
          </div>
      </nav>

    </form>
  </div>

  {% if recipe and not update %}
  <br>
  <div class="block" style="padding: 3%;">
    <h4 class="title is-3">All done adding ingredients?</h4>
    <form action='{% url "add-instruction" recipe.id %}' method="get">
      <button type="submit" class="button is-black is-medium">Add Instructions</button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}

