{% extends "base.html" %}

{% block content %}

<div class="block">
  <h1 class="title is-1 is-spaced">
    Submit a Recipe
  </h1>

  <div class="box has-background-black">
    <h1 class="title is-2 has-text-white">
      {{ recipe.name }}
      {% if recipe.author %}
      <h3 class="subtitle is-5 has-text-white">
        By {{ recipe.author }}
      </h3>
      {% endif %}
    </h1>
  </div>
  
  <h3 class="title is-2">
    Ingredients
  </h3>  
  
  <div class="block">
    <p class="is-size-4"><strong><em id="danger">Are you sure you want to delete this ingredient?</em></strong></p>
    <p class="is-size-4">{{ ingredient.name }}</p>
  </div>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <input class="button is-danger " type="submit" action="" value="Yes, delete." />
  </form>

</div> 

{% endblock %}

