{% extends "base_generic.html" %}

{% block content %}

<div class="block">
  <h1 class="title is-1 is-spaced">Submit a Recipe</h1>

  <p class="is-size-4"><strong>Name: </strong>{{ recipe.name }}</p>
  <p class="is-size-4"><strong>Servings:</strong> {{ recipe.servings }}</p>
  {% if recipe.nota_bene %}
    <div class="block">
      <p class="is-size-4"><strong>N.B.</strong></p> 
      <p class="is-size-5">{{ recipe.nota_bene }}</p>
    </div>
  {% endif %}
  
  <div class="block">
      <p class="is-size-5">
        <a class="button is-info is-light" href="{% url 'update-recipe' recipe.id %}?next={{ request.path|urlencode }}"> 
          Edit Recipe
        </a>
      </p>
  </div>

  <h2 class="title is-2" style="padding-bottom: 1%;">
    Ingredients
  </h2>  
  <ul class="is-size-4">
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient }} </li>
        
        <li>
          {% if not update %} 
          <a class="button is-info is-light is-small" href="{% url 'update-ingredient' ingredient.id %}?next={{ request.path|urlencode }}"> 
              edit
          </a> 
          <a class="button is-danger is-light is-small" href="{% url 'delete-ingredient' ingredient.id %}?next={{ request.path|urlencode }}" class="text-danger"> 
            delete 
          </a>
          {% endif %}
        </li> 
    {% endfor %} 
  </ul>

  <div class="block" id="addIngredientButton">
    <p>
      <a class="button is-info is-light" href="{% url 'add-ingredient' recipe.id %}">
        Add Ingredient
      </a>
    </p> 
  </div>
  
  <h2 class="title is-2" style="padding-bottom: 1%;">
    Instructions
  </h2> 

  <ul class="is-size-4">
    {% for instruction in recipe.instruction_set.all %}
      {% if pk != instruction.id %}

          <li><strong>Step {{ instruction.step_number }}</strong></li>

          <li>{{ instruction.description }} </li>
        
          <li style="padding: 1%; padding-bottom: 3%;">
            {% if not update %} 
            <a class="button is-info is-light is-small" href="{% url 'update-instruction' instruction.id %}?next={{ request.path|urlencode }}"> 
                edit
            </a> 
            <a class="button is-danger is-light is-small" href="{% url 'delete-instruction' instruction.id %}?next={{ request.path|urlencode }}" class="text-danger"> 
              delete 
            </a>
            {% endif %}
          </li>
      {% endif %}
    {% endfor %} 
  </ul>


  <div class="column is-8">
    <div class="box" id="boxPanel">      
      
      <div class="box" id="boxHeader">
        <h1 class="title is-3 has-text-white">
          {% if update %}
            Edit Instruction
          {% else %}
            New Instruction
          {% endif %}
        </h1>
      </div>
      
      <div class="block" id="boxPadded">
        <form action="" method="post">
          {% csrf_token %}
          <div class="column is-10">
            {% for field in form %}
            <div class="block">
                <div class="fieldWrapper">
                  <p>{{ field.label_tag }}
                  <br> 
                  {{ field }}
                  <!-- {% if field.help_text and field.label == 'Instruction' %}
                    <p class="is-size-5"><em>{{ field.help_text|safe }}</em></p>
                  {% endif %} -->
                  </p>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="block" id="boxButton">
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <input type="submit" class="button is-black is-medium" 
              {% if update %} 
                value="Update Instruction" 
              {% else %} 
                value="Create Instruction" 
              {% endif %}>
          </div>
        </form>
      </div>
    </div>
<!--     
    <form action="" method="post">
      {% csrf_token %}
      
      <nav class="panel is-black">   
        {% if update %}
          <h4 class="panel-heading title is-4 has-text-white">Edit Instruction</h4>
        {% else %}
          <h4 class="panel-heading title is-4 has-text-white">New Instruction</h4>
        {% endif %} 

          <div class="panel-block">
            <table class="is-size-5">
              {{ form.as_table }}
            </table> 
          </div>

          <div class="panel-block">
            <div style="padding: 3%;">
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <input type="submit" class="button is-black is-medium" value="Add Instruction">
            </div>
          </div>
      </nav>

    </form> -->
  </div>

  {% if recipe %}
    <div class="block" id="submitRecipeBlock">
      <h4 class="title is-3">All done adding instructions?</h4>
      <form action='{% url "recipe-detail" recipe.id %}' method="get">
        <button class="button is-large is-black" type="submit">Submit Recipe</button>
      </form>
    </div>
  {% endif %} 

</div>

{% endblock %}