{% extends "base_generic.html" %}

{% block content %}
<h1>COOKERY BOOKERY</h1> 
<br>

<h2>Submit a Recipe</h2>

  <p><b>Name:</b> {{ recipe.name }}</p>
  <p><b>Servings:</b> {{ recipe.servings }}</p>
  <p><b>Nota bene:</b> {{ recipe.nota_bene }}</p>

  <h3>Ingredients</h3>
  
  <ul>
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient }}</li>
    {% endfor %} 
  </ul>

  <h3>Add Instructions</h3>

  <ul>
    {% for instruction in recipe.instruction_set.all %}
        {% if pk != instruction.id %}
          <p><b>Step {{ instruction.step_number }}</b> - <a href="{% url 'update-instruction' instruction.id %}?next={{ request.path|urlencode }}">Edit</a></p>
          <p>{{ instruction.description }}</p>
        {% else %}
          <p><b>Step {{ instruction.step_number }}</b>- Are you sure you want to delete this instruction? 
            <p>{{ instruction.description }}</p>
            <form action="" method="POST">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <input type="submit" action="" value="Yes, delete." />
            </form>
          </p>
        {% endif %}
    {% endfor %} 
  </ul>

  <br>
  <br>
  <br>
{% endblock %}

