{% extends "base.html" %}

{% block content %}

<h1 class="title is-1 is-spaced">Submit a Recipe</h1>

<div class="box has-background-black">
  <h1 class="title is-2 has-text-white">
    {{ recipe.name }}
    {% if recipe.author %}
    <h3 class="subtitle is-5 has-text-white">
      By {{ recipe.author }}
    </h3>
    {% endif %}
  </h1>
</div>

<h2 class="subtitle is-5"><em>"{{ recipe.description }}"</em></h2>

<div class="block">
  <div class="column is-8">
  {% if recipe.nota_bene %}
    <p class="is-size-4"><strong>N.B.</strong></p> 
    <p class="is-size-5 justifyBlock">{{ recipe.nota_bene }}</p>
  {% endif %}
</div>

<div class="block">
  <p class="is-size-5">
    <a class="button is-info is-light" href="{% url 'update-recipe' recipe.id %}?next={{ request.path|urlencode }}"> 
      Edit Recipe
    </a>
  </p>
</div>

<div class="block recipeBorder"></div>

<div class="block">
  <span class="tag is-large" >
    SERVES {{ servings_as_word }}
  </span>
</div>

<h2 class="title is-2" id="recipeTitle">
  Ingredients
</h2>  
<div class="column is-8">
  <table>
    {% for ingredient in recipe.ingredient_set.all %}
    <tr class="is-size-5">
      <td class="ingredientCell">{{ ingredient }}</td>
      <td class="buttonCell"> 
        <a class="button is-info is-light is-small" href="{% url 'update-ingredient' ingredient.id %}?next={{ request.path|urlencode }}"> 
          edit
        </a> 
        <a class="button is-danger is-light is-small" href="{% url 'delete-ingredient' ingredient.id %}?next={{ request.path|urlencode }}" class="text-danger"> 
          delete 
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<div class="block" id="addIngredientButton">
  <p>
    <a class="button is-black" href="{% url 'add-ingredient' recipe.id %}">
      Add Ingredient
    </a>
  </p> 
</div>

<h2 class="title is-2" id="recipeTitle">
  Instructions
</h2> 

<div class="column is-8">
  {% for instruction in recipe.instruction_set.all %}
    {% if instruction.id != pk %}
      <div class="block">
        <p class="is-size-4"><strong>Step {{ instruction.step_number }}</strong></p>

        <p class="is-size-5 justifyBlock">{{ instruction.description }} </p>
      
        <p>
          {% if not update %} 
          <a class="button is-info is-light is-small" href="{% url 'update-instruction' instruction.id %}?next={{ request.path|urlencode }}"> 
              edit
          </a> 
          <a class="button is-danger is-light is-small" href="{% url 'delete-instruction' instruction.id %}?next={{ request.path|urlencode }}" class="text-danger"> 
            delete 
          </a>
          {% endif %}
        </p>
      </div>
      {% endif %}
  {% endfor %} 
</div>


<div class="column is-8">
  <div class="box" id="boxPanel">      
    
    <div class="box" id="boxHeader">
      <h1 class="title is-3 has-text-white">
        {% if update %}
          Edit Instruction
        {% else %}
          New Instruction
        {% endif %}
      </h1>
    </div>
    
    <div class="block" id="boxPadded">
      <form action="" method="post">
        {% csrf_token %}
        <div class="column is-10">
          {% for field in form %}
          <div class="block">
              <div class="fieldWrapper">
                <p>{{ field.label_tag }}
                <br> 
                {{ field }}
                </p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="block" id="boxButton">
          <input type="hidden" name="next" value="{{ request.GET.next }}">
          <input type="submit" class="button is-black is-medium" 
            {% if update %} 
              value="Update Instruction" 
            {% else %} 
              value="Create Instruction" 
            {% endif %}>
        </div>
      </form>
    </div>
  </div>
</div>

{% if recipe %}
  <br>
  <br>
  <div class="block" >
    <h4 class="title is-3">All done adding instructions?</h4>
    <form action='{% url "recipe-detail" recipe.id %}' method="get">
      <button class="button is-large is-black" type="submit">Submit Recipe</button>
    </form>
  </div>
{% endif %} 

{% endblock %}