{% extends "base_generic.html" %}

{% block content %}

<div class="block" style="font-family:'Playfair Display', serif">
  <h1 class="title is-1 is-spaced">Submit a Recipe</h1>

  <p class="is-size-4"><strong>Name: </strong>{{ recipe.name }}</p>
  <p class="is-size-4"><strong>Servings:</strong> {{ recipe.servings }}</p>
  {% if recipe.nota_bene %}
    <div class="block">
      <p class="is-size-4"><strong>N.B.</strong></p> 
      <p class="is-size-5">{{ recipe.nota_bene }}</p>
    </div>
  {% endif %}
  
  <div class="block">
    <p class="is-size-5"><strong><em>Need to change something?</em></strong></p>
    {% if update %}
      <p class="is-size-5" style="color: hsl(348, 86%, 65%);">
        <em>You need to finish editing this instruction before you can edit your recipe!</em>
      </p>
    {% else %}
      <p class="is-size-5" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif">
        <a class="button is-info is-light" href="{% url 'update-recipe' recipe.id %}?next={{ request.path|urlencode }}"> Edit Recipe</a>
      </p>
    {% endif %}
  </div>

  <h2 class="title is-2" style="padding-bottom: 1%;">
    Ingredients
  </h2>  
  <ul class="subtitle is-4">
    {% for ingredient in recipe.ingredient_set.all %}
        <li>{{ ingredient }} </li>
        
        <li style="padding: 1%;">
          {% if not update %} 
          <a class="button is-info is-light is-small" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif" href="{% url 'update-ingredient' ingredient.id %}?next={{ request.path|urlencode }}"> 
              edit
          </a> 
          <a class="button is-danger is-light is-small" href="{% url 'delete-ingredient' ingredient.id %}?next={{ request.path|urlencode }}" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif" class="text-danger"> 
            delete 
          </a>
          {% endif %}
        </li> 
    {% endfor %} 
  </ul>

  <div class="block">
    {% if not update %} 
        <p class="is-size-5"><strong><em>Forgot to add an ingredient?</em></strong></p>
        <p>
          <a class="button is-info is-light" href="{% url 'add-ingredient' recipe.id %}" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif">Add Ingredient</a>
        </p>
      {% else %}
        <p class="is-size-5">
          <em>Need to add, edit or delete an ingredient?</em>
        </p>
        <p class="is-size-5" style="color: hsl(348, 86%, 65%);">
          <em>You need to finish editing this instruction before you can edit your ingredients!</em>
        </p>
      {% endif %}
  </div>
  
  <h3 class="title is-2" style="padding-bottom: 1%;">
    Instructions
  </h3> 

  <ul class="subtitle is-4">
    {% for instruction in recipe.instruction_set.all %}
      {% if pk != instruction.id %}

          <li><strong>Step {{ instruction.step_number }}</strong></li>

          <li>{{ instruction.description }} </li>
        
          <li style="padding: 1%; padding-bottom: 3%;">
            {% if not update %} 
            <a class="button is-info is-light is-small" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif" href="{% url 'update-instruction' instruction.id %}?next={{ request.path|urlencode }}"> 
                edit
            </a> 
            <a class="button is-danger is-light is-small" href="{% url 'delete-instruction' instruction.id %}?next={{ request.path|urlencode }}" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif" class="text-danger"> 
              delete 
            </a>
            {% endif %}
          </li>
      {% endif %}
    {% endfor %} 
  </ul>


  <div class="column is-8">
    <form action="" method="post">
      {% csrf_token %}
      
      <nav class="panel is-black">   
        {% if update %}
          <h4 class="panel-heading title is-4 has-text-white">Edit Instruction</h4>
        {% else %}
          <h4 class="panel-heading title is-4 has-text-white">New Instruction</h4>
        {% endif %} 

          <div class="panel-block">
            <table class="is-size-5">
              {{ form.as_table }}
            </table> 
          </div>

          <div class="panel-block">
            <div style="padding: 3%;">
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <input type="submit" class="button is-black is-medium" value="Add Instruction">
            </div>
          </div>
      </nav>

    </form>
  </div>

  {% if recipe %}
    <div class="block" style="padding: 3%;">
      <h4 class="title is-3">All done adding instructions?</h4>
      <form action='{% url "recipe-detail" recipe.id %}' method="get">
        <button class="button is-large is-black" type="submit">Submit Recipe</button>
      </form>
    </div>
  {% endif %} 

</div>

{% endblock %}