{% extends "base_generic.html" %}

{% block content %}
<div class="block" style="font-family: 'Playfair Display', serif">
  <h1 class="title is-1 is-spaced">My Favorites</h1>
  {% if recipe_list %}
  <ul>
    {% for recipe in recipe_list %}
    <li class="is-size-4"> 
      <div class="section" style="border-bottom-style: solid; border-bottom-width: thin;">  
        <nav class="level">
          <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
          
          <div class="level-right" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif">
            <div class="level-item">
            <a class="button is-danger is-light" href="{% url 'my-favorites' %}?action=remove{{ recipe.id }}">Remove</a>
          </div>
        </div>
        </nav>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <br>
    <p class="subtitle is-4">You don't have any favorite recipes yet!</p>
  {% endif %}
</div> 

{% endblock %}
