{% extends "base_generic.html" %}

{% block content %}
<div class="block">
  <h1 class="title is-1 is-spaced">My Recipes</h1>

    {% if recipe_list %}
  
      {% for recipe in recipe_list %}
       <div class="block">
        <a href="{{ recipe.get_absolute_url }}"> 
          <nav class="panel is-black">
          
            <p class="panel-heading is-size-4 has-text-white">
              {{ recipe.name }}

              {% if user.is_authenticated %}
                {% if favorites and recipe in favorites  %}
                  <span class="icon"><i class="fas fa-heart"></i></span>
                {% endif %}
              {% endif %}
            </p>
         
            <p class="panel-block is-size-5">{{ recipe.description }}</p>
          </nav>
        </a>
      </div>
      {% endfor %}
   
    {% else %}
      <br>
      <p class="subtitle is-4">You haven't submitted any recipes yet!</p>
    {% endif %} 

</div>
{% endblock %}
