{% extends "base_generic.html" %}

{% block content %}
<div class="block" style="font-family:'Playfair Display', serif">
  <h1 class="title is-1 is-spaced">All Recipes</h1>
  {% if recipe_list %}
  <ul>
    {% for recipe in recipe_list %}
      <li class="is-size-4" style="border-bottom-style: solid; border-bottom-width: thin;">
        <div class="section">
          <nav class="level">
            <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
            {% if user.is_authenticated %}
              {% if favorites and recipe in favorites  %}
                <div class="level-right" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif">
                  <div class="level-item">
                    <span class="tag is-warning is-medium has-text-black"><strong>Favorite Recipe!</strong></span>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </nav>
        </div>

       
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p class="subtitle is-4">No recipes available :(</p>
  {% endif %} 
</div>
{% endblock %}
