{% extends "base.html" %}

{% block content %}

<div class="block">
  <div class="box has-background-black">
    <h1 class="title is-1 has-text-white">{{ recipe }}</h1>
    {% if recipe.author %}
      <h3 class="subtitle is-4 has-text-white">By {{ recipe.author }}</h3>
    {% endif %}
  </div>

  <div class="block">
    <p class="is-size-4">
      <strong><em id="danger">Are you sure you want to delete this recipe?</em></strong>
    </p>
  </div>

  <form action="" method="POST">
    {% csrf_token %}
    <input class="button is-danger" type="submit" action="" value="Yes, delete." />
  </form> 

{% endblock %}
