{% extends "base_generic.html" %}

{% block content %}
<div class="block">
  <h1 class="title is-1 is-spaced">Submit a Recipe</h1>



  <div class="column is-8">
    <form action="" method="post">
      {% csrf_token %}
      
      <nav class="panel is-black">   
        {% if update %}
          <h4 class="panel-heading is-size-4 has-text-white">Edit Recipe</h4>
        {% else %}
          <h4 class="panel-heading is-size-4 has-text-white">New Recipe</h4>
        {% endif %} 

        {% for field in form %}
        <div class="panel-block">
          <div class="fieldWrapper">
            <p>{{ field.label_tag }}
            <br> 
            {{ field }}
            {% if field.help_text and field.label == 'N.B.' or field.label == 'Description' %}
              <p class="is-size-5">{{ field.help_text|safe }}</p>
            {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}
    
          <div class="panel-block">
            <div style="padding: 3%;">
              <input type="hidden" name="next" value="{{ request.GET.next }}">
              <input type="submit" class="button is-black is-medium" value="Create Recipe">
            </div>
          </div>
      </nav>


    </form>
  </div>
</div>
{% endblock %}
