{% extends "base_generic.html" %}

{% block content %}

<div class="block">
  <div class="box has-background-black">
    
    <h1 class="title is-1 has-text-white">{{ recipe }}                 
      {% if user.is_authenticated %}
      
        {% if favorites and recipe in favorites %}
          <a href="{% url 'recipe-detail' recipe.id %}?action=remove">
            <span class="icon"><i class="fas fa-heart"></i></span>
          </a>
        {% else %}
          <a style="color: black;" href="{% url 'recipe-detail' recipe.id %}?action=favorite">
          <span class="icon"><i class="far fa-heart"></i></span>
          </a>
        {% endif %}
      
      {% endif %}
    </h1> 

    {% if recipe.author %}
      <h3 class="subtitle is-4 has-text-white">By {{ recipe.author }}</h3>
    {% endif %}
</div>

<h2 class="subtitle is-4">"<em>{{ recipe.description }}"</em></h2>

<!--   <div class="block is-size-5"> 
  {% if user.is_authenticated %}
    {% if favorites and recipe in favorites  %}
      <span class="tag is-warning is-large " style="color: black;"><b>Favorite Recipe!</b></span>
    {% else %}
      <p><a class="button is-warning" style="color: black;" href="{% url 'recipe-detail' recipe.id %}?action=favorite"><b>Add to My Favorites</b></a></p>
    {% endif %}
  {% endif %}
</div> -->

  <p class="is-size-4"><strong>Servings:</strong> {{ recipe.servings }}</p>
  
  {% if recipe.nota_bene %}
    <div class="block">
      <p class="is-size-4"><strong>N.B.</strong></p> 
      <p class="is-size-5">{{ recipe.nota_bene }}</p>
    </div>
  {% else %}
    <div style="padding: 1%;"></div>
  {% endif %}

  <div class="block">  
    <h2 class="title is-2" style="padding-bottom: 1%;">
      Ingredients
    </h2>
  
    <ul class="subtitle is-4">
      {% for ingredient in recipe.ingredient_set.all %}
          <li>{{ ingredient }} </li>
      {% endfor %} 
    </ul>
  </div>

  <div class="block">
    <h2 class="title is-2" style="padding-bottom: 1%;">
      Instructions
    </h2> 

    <ul class="subtitle is-4">
      {% for instruction in recipe.instruction_set.all %}
        <li><strong>Step {{ instruction.step_number }}</strong></li>
        <li>{{ instruction.description }} </li>
      {% endfor %} 
    </ul>
  </div>


    {% if user.is_authenticated %}
      {% if user.username == recipe.author.username %}
          <br>
          <a class="button is-danger is-light" href="{% url 'delete-recipe' recipe.id %}?next={{ request.path|urlencode }}"> 
            Delete Recipe 
          </a>
 
      {% endif %}
    {% endif %}
 
</div>

{% endblock %}
