{% extends "base_generic.html" %}

{% block content %}

<div class="block" style="font-family:'Playfair Display', serif">
  <h1 class="title is-1">{{ recipe }}</h1>
  
  {% if recipe.author %}
    <h3 class="subtitle is-4">By {{ recipe.author }}</h3>
  {% endif %}
  <p class="subtitle">
    <a class="button is-danger is-light" style="font-family: 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif" href="{% url 'delete-recipe' recipe.id %}?next={{ request.path|urlencode }}"> 
      Delete Recipe 
    </a>
  </p>

  <div class="block is-size-5"> 
  {% if user.is_authenticated %}
    {% if favorites and recipe in favorites  %}
      <span class="tag is-warning is-large has-text-black"><strong>This recipe is one of your favorites!</strong></span>
    {% else %}
      <p><a class="button is-warning has-text-black" href="{% url 'recipe-detail' recipe.id %}?action=favorite"><strong>Add to My Favorites</strong></a></p>
    {% endif %}
  {% endif %}
</div>

  <p class="is-size-4"><strong>Servings:</strong> {{ recipe.servings }}</p>
  
  {% if recipe.nota_bene %}
    <div class="block">
      <p class="is-size-4"><strong>N.B.</strong></p> 
      <p class="is-size-5">{{ recipe.nota_bene }}</p>
    </div>
  {% else %}
    <div style="padding: 1%;"></div>
  {% endif %}

  <div class="block">  
    <h2 class="title is-2" style="padding-bottom: 1%;">
      Ingredients
    </h2>
  
    <ul class="subtitle is-4">
      {% for ingredient in recipe.ingredient_set.all %}
          <li>{{ ingredient }} </li>
      {% endfor %} 
    </ul>
  </div>

  <div class="block">
    <h3 class="title is-2" style="padding-bottom: 1%;">
      Instructions
    </h3> 

    <ul class="subtitle is-4">
      {% for instruction in recipe.instruction_set.all %}
        <li><strong>Step {{ instruction.step_number }}</strong></li>
        <li>{{ instruction.description }} </li>
      {% endfor %} 
    </ul>
  </div>
</div>


<!-- 

  <div class="content">
  <h1>COOKERY BOOKERY</h1> 
  <br>

  <h1>{{ recipe.name }}</h1>
  
  {% if recipe.author %}
    <p>By {{ recipe.author }}</p>
  {% endif %}
  
  {% if user.is_authenticated %}
    {% if favorites and recipe in favorites  %}
      <p><em>This recipe is one of your favorites!</em></p>
    {% else %}
      <p><a href="{% url 'recipe-detail' recipe.id %}?action=favorite">Add to My Favorites!</a></p>
    {% endif %}
  {% endif %}

  {% if recipe.author == request.user %}
    <p><strong><em>Author Options:</em></strong></p>
    <ul>
      <li>
        <a href="{% url 'delete-recipe' recipe.id %}?next={{ request.path|urlencode }}" class="text-danger"> Delete Recipe </a>
      </li>
    </ul>  

  {% endif %}

  <p><b>Servings:</b> {{ recipe.servings }}</p>
  
  {% if recipe.nota_bene %}
    <p><b>N.B.</b></p>
    <p>{{ recipe.nota_bene }}</p>
  {% endif %}

  <h3>Ingredients</h3>
  <ul>
    {% for ingredient in recipe.ingredient_set.all %}
      <li>{{ ingredient }}</li>
    {% endfor %}  
  </ul>


  <br>
  <h3>Instructions</h3>

  {% for step in recipe.instruction_set.all %}
    <br>
    <p><b>Step {{ step.step_number }}</b></p>
    <p>{{ step.description }}</p>
  {% endfor %}


</div>
  <br>
  <br>
  <br> -->
{% endblock %}
