<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Cookery Bookery</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Playfair+Display&display=swap" rel="stylesheet">  <script src="https://kit.fontawesome.com/b76f67ab69.js" crossorigin="anonymous"></script> 
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/styles.css' %}">
</head>

<body class="has-navbar-fixed-top">
  <div class="columns is-multiline">
    <div class="column is-full">
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <div class="column is-vcentered">
            <h1 class="title is-1 has-text-black" >
              COOKERY BOOKERY
            </h1>
          </div>
          <a role="button" class="navbar-burger" aria-label="menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
  
        <div class="navbar-end">
          <div class="navbar-menu">

            {% if user.is_authenticated %}
              <div class="navbar-item has-dropdown is-hoverable">
        
                <a class="navbar-link">
                  <p class="title is-3 has-text-black">{{ user.username }}</p>
                </a>
        
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="{% url 'user-detail' user.username %}">
                    <p class="subtitle is-8">My Account</p>
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" href="{% url 'logout'%}">
                    <p class="subtitle is-8">Logout</p>
                  </a>
                </div>
            </div>
            {% else %} 
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-black" href="{% url 'signup' %}">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button" id="logInOutButton" href="{% url 'login'%}?next={{index}}" >
                    <strong>Log in</strong>
                  </a>
                </div>
              </div>
            {% endif %} 

          </div>
        </div>
      </nav>
    </div>


    <div class="column is-2" >
      {% block sidebar %}
     
        <aside class="menu is-medium">          
          
          <ul class="menu-list ">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'all-recipes' %}">All Recipes</a></li>         
            <li><a href="{% url 'my-recipes' %}">My Recipes</a></li>
            <li><a href="{% url 'my-favorites' %}">My Favorites</a></li>
            <li><a href="{% url 'create-recipe' %}">Submit a Recipe</a></li>
            
            {% if user.is_authenticated %}
              <li class="mobileSidebarButton is-hidden-tablet" id="mobileBorder">
                <a class="button is-black is-rounded" href="{% url 'user-detail' user.username %}">My Account</a>
              </li>
              <li class="mobileSidebarButton is-hidden-tablet">
                <a class="button is-rounded" id="logInOutButton" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="mobileSidebarButton is-hidden-tablet">        
                <a class="button is-black is-rounded" href="{% url 'signup' %}">
                  <strong>Sign up</strong>
                </a>        
              </li>
              <li class="mobileSidebarButton is-hidden-tablet">
                <a class="button is-rounded" id="logInOutButton" href="{% url 'login'%}?next={{index}}" >
                  <strong>Log in</strong>
                </a>
              </li>
            {% endif %}
          </ul>
       
        </aside>
      {% endblock %}

    </div>
    
    <div class="column is-8 is-vcentered">
      <div class="section">{% block content %}{% endblock %}</div>

      {% block pagination %}
        {% if is_paginated %}
          <div class="block">
            <nav class="pagination" role="navigation" aria-label="pagination">
              {% if page_obj.has_previous %}
                <a class="pagination-previous" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                  Previous
                </a>
              {% endif %}
              {% if page_obj.has_next %}
                <a class="pagination-next" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                  Next page
                </a>
              {% endif %}
            
              <ul class="pagination-list">
                {% for page in page_obj.paginator %}
                  {% if page.number <= 3 %}
                    <li>
                      <a class="pagination-link" aria-label="Goto page {{ page.number }}" href="{{ request.path }}?page={{ page.number }}">
                        {{ page.number }}
                      </a>
                    </li>
                  {% endif %}

                  {% if page.number > 3 %}   
                    {% if page.number != page_obj.paginator.num_pages%}
                      <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                      </li> 
                    {% endif %} 
                  {% endif %}
                {% endfor %}  
                
                {% if page_obj.paginator.num_pages > 3 %}
                  <li>
                    <a class="pagination-link" aria-label="Goto page {{ page_obj.paginator.num_pages }}" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">
                      {{ page_obj.paginator.num_pages }}
                    </a>
                  </li>
                {% endif %}        
              </ul>
            </nav>
          </div>
        {% endif %}
      {% endblock %}

    </div>
  </div>

</body>

<footer class="footer"></footer>

</html>
