body {
  font-family: 'Noto Sans JP', serif;
}

a span {
  color: #fee440;
  padding-left: .5em;
}

aside {
  border-right: 1px solid hsla(0,0%,43.9%,.22); 
  margin-top: 15%;
  padding-top: 3%; 
  padding-bottom: 2%; 
  padding-right: 3%;
}

h1, h3, .navbar-brand, .panel-heading {
  font-family: 'Playfair Display';
}

table {
  width: 100%;
}

td {
  width: 33%;
}

.fieldWrapper {
  font-size: 1.5em;
}

.footer {
  background-color:white;
}

ul .mobileSidebarButton {
  padding-top: .5em;
  margin-left: .75em;
  margin-right: .75em;
}

.navbar {
  background-color: #fee440;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.3);
}

.navbar-end .navbar-item a.navbar-link {
  background-color: #fee440 !important;
}

.navbar-link:after {
  border-color: black !important;
}

.tag {
  color: black !important;
  background-color: #fee440 !important;
}

a:hover #boxPanel, a:hover #newRecipePanel {
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.4);
}

#mobileSignupButton {
  margin-left: 1em;
  margin-right: 1em;
}

#logInOutButton {
  color: black;
  background-color: #fee440;
  border: solid;
  border-width: thin;
}

#boxPanel {
  padding: 0 0 1.5em 0;
}

#boxHeader {
  color: white;  
  background-color: black;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 0 0;
  font-family: 'Playfair Display';
  margin-bottom: 0;
}

#boxPadded {
  margin: 1em 1.5em 0 1.5em;
}

#lostPassword {
  padding-top: 1%;
}

#boxButton {
  margin: 1em 0 1em .8em;
}

.notification {
  color: white;
  background-color: black;
  padding-right: 0;
}

#deleteButton {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
}

#addIngredientButton {
  margin-top: 1em;
}

#danger {
  color: hsl(348, 86%, 65%);
}

#panelBlockText {
  font-size: 2em;
}

#recipeTitle {
  margin-bottom: .2em;
} 

#newRecipePanel {
  padding: 0 0 1.5em 0;
  height: 100%;
}

#newRecipeHeader {
  color: white;  
  background-color: black;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 0 0 0;
  font-family: 'Playfair Display';
  margin-bottom: 0;
}

#newRecipeBlock {
  margin: 1em 1.5em 0 1.5em;
}

.grid {
  display: grid;
  gap: .2em; 
  overflow: hidden;
  grid-template-columns: repeat( auto-fit, minmax(18em, 1fr) );
  grid-auto-flow: dense;  
}

.fas, .far {
  text-rendering: optimizeLegibility;
}

.recipeBorder {
  border-bottom: 1px solid hsla(0,0%,43.9%,.5); 
}

.ingredientCell {
  padding-bottom: .5em;
}

.buttonCell {
  padding-left: 1em;
}

.justifyBlock {
  text-align: justify;
}

.grid .is-hidden-desktop {
  margin: 1em;
}

#gridItem {
  margin: 1em;
  padding: 0;
}

#gridItem:nth-of-type(1n) {
  grid-column: span 1;  
}
#gridItem:nth-of-type(2n) {
  grid-column: span 1;  
}

#gridItem:nth-of-type(3n) {
  grid-column: span 2;  
}

#gridItem:nth-of-type(4n) {
  grid-column: span 1;  
}

#gridItem:nth-of-type(5n) {
  grid-row: span 2;  
} 
