{% extends "base_generic.html" %}

{% block content %}
  <h1>COOKERY BOOKERY</h1>  
  <br>
  
  <p>Cookery (n.) The art or process of preparing food for the table, by dressing, compounding, and the application of heat.</p>
  <p>Bookery (n.) A collection of books; <b>a library</b>, a bookshop.</p>
  <br>
  <p><em>"The tender morsels on the palate melt, And all the force of Cookery is felt."</em></p>
  <br>  
  <h2>Newly Added Recipes</h2>
  
  {% if newest_recipes%}
    <ul>
      
      {% for recipe in newest_recipes%}
        <li>
          <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
        </li>
      {% endfor %}
      
    </ul>
  {% else %}
    <p>There are no new recipes :(</p>
  {% endif %}

{% endblock %}
